body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Merriweather', serif;
  margin: 0;
}

h1 {
  color: #03befc;
  font-family: 'Dancing Script', cursive;
  font-size: 5.625rem;
  margin-top: 100px;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
}

p {
  line-height: 2;
}

div {
  background-color: black;
}

hr {
  margin: 0 auto;
  border: dotted #434242 6px;
  border-bottom: none;
  width: 4%;
}

a {
  color: #6B728E;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #F2DEBA;
}

.head2 {
  font-weight: bold;
  color: #11999e;
}

.top-container {
  padding-top: 100px;
  padding-bottom: 150px;
}

.intro {
  width: 30%;
  margin: auto;
  padding-bottom: 40px;
}

.top-cloud {
  position: relative;
  left: 400px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
}

.profile-pic {
  margin-top: 7%;
  border-radius: 100%;
  height: 20%;
  width: 20%;
}

.skill-pic1 {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 10%;
}

.skill-pic2 {
  width: 25%;
  height: 25%;
  border-radius: 100%;
  float: right;
}

.skill-row1 {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-row2 {
  width: 50%;
  margin: 200px auto 200px;
  text-align: left;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.contact-message{
  width: 35%;
  margin: 40px auto 60px;
  padding-bottom: 40px;
}

.bottom-container {
  background-color: #434242;
  margin-top: 50px;
  padding: 50px 0 20px;
}

.footer-link {
  padding: 0 30px;
}

.copyr {
  color: #F2DEBA;
  margin-top: 30px;
  font-size: 0.75rem;
}
